@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    .msg-assistant {
      background-color: var(--vscode-editorWidget-background);
      color: var(--vscode-editorWidget-foreground);
    }
    .msg-user {
      background-color: var(--vscode-input-background);
      color: var(--vscode-input-foreground);
      border: 1px solid var(--vscode-input-border);
      max-width: 80%;
    }
    .input-textbox {
      background-color: var(--vscode-input-background);
      color: var(--vscode-input-foreground);
      border: 1px solid var(--vscode-input-border);
    }
    .input-send-button {
      background-color: var(--vscode-button-secondaryBackground);
      color: var(--vscode-button-secondaryForeground);
    }
    .input-send-button:hover {
      background-color: var(--vscode-button-secondaryHoverBackground);
    }
  }
}
